<%# views/recipes/index-recipes.ejs %>
<% include ../partials/boilerplate %>

<h1>All your recipes</h1>

<% recipe.forEach(recipe => { %>
  <div class="recipe">
    <h4><%= recipe.title %></h4>
    <h5><%= recipe.ingredients %></h5>
    <h5><a href='<%= recipe.link %>'</a>Link</h5>
    <form method="POST" action="/recipes/delete?_method=DELETE" >
      <input type="hidden" name='id' value='<%=recipe.id%>'/>
      <input type='submit' value='delete'/>
      <%console.log(recipe.id,'--------')%>
    </form>
    <a href='single/<%=recipe.id%>'>edit</a>
  </div>
<%})%>

<% include ../partials/end %>
